* {
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
}

::selection {
  background: #f4c9bc;
}

html {
  background-color: #F4ECE8;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("/assets/bg.svg");
  background-position: 0 0;
  background-size: cover;
  background-color: #f4ece8;
  color: #31302F;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo img {
  display: block;
  height: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
}
.nav-right-mobile {
  display: none;
}
.nav-right a:not(:last-child) {
  margin-right: 30px;
}

.nav-right a.social:first-child {
  margin-right: 18px;
}
.nav-right a.social:hover {
  opacity: 0.8;
}
.nav-right a.social img {
  display: block;
}

.nav-right a.links:hover {
  opacity: 0.7;
}

.reg-btn {
  background-color: #e27152;
  color: #FFFBF9;
  border-radius: 9px;
  padding: 10px 20px;
  border: none;
}
.reg-btn:hover {
  background-color: #CD674B;
}

.hero {
  margin: 20px auto;
  position: relative;
  height: 629px;
  display: flex;
  align-items: center;
}

.hero-left > h3 {
  margin: 0 0 0 60px;
  color: #e27152;
  font-size: 52px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -2px;
}

.hero-left > h1 {
  margin: 0 0 0 60px;
  font-size: 90px;
  color: #395c6b;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -3px;
}

.hero-left > hr {
  border: 2px solid #395c6b;
  width: 100%;
}

.hero-left > p {
  margin: 40px 0 0 60px;;
  color: #395c6b;
  font-size: 24px;
}

.hero-left > a {
  margin: 45px 0 0 60px;
  padding: 17px 30px;
  font-size: 24px;
  border-radius: 15px;
  display: inline-block;
}

.hero > img {
  right: 30px;
  top: 0;
  position: absolute;
}

.countdown {
  margin: 30px 30px 0;
  text-align: center;
}
.countdown > p {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 500;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.box {
  margin: 0;
  background-color: #fffbf9;
  border-radius: 15px;
  border: none;
  color: #395c6b;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 219px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#days,
#hours,
#min,
#secs {
  font-size: 60px;
  font-weight: bold;
}

.box > span {
  font-size: 1rem;
  display: block;
  font-weight: normal;
}

.prepare {
  width: 90%;
  margin: 150px auto 0;
  text-align: center;
}

.prepare > h2 {
  margin-top: 0;
  color: #e27152;
  font-size: 45px;
  font-weight: 500;
}

.prepare > p {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.9;
}

.speaker-title {
  margin: 150px 0 0 75px;
  font-size: 75px;
  font-weight: 500;
  line-height: 1.3;
  color: #395c6b;
}

.speakers {
  margin: 75px 75px 0;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.speaker {
  background-color: #fffbf9;
  border-radius: 15px;
  padding: 18px;
  position: relative;
  width: 435px;
  margin: 2rem auto;
}

.pic {
  position: absolute;
  top: -30px;
  left: -30px;;
  width: 30%;
  border-radius: 15px;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.speaker-left {
  margin-left: 112px;
  text-align: left;
}

.name {
  margin: 0 0 5px;
  font-size: 27px;
  font-weight: 500;
}

.role {
  margin: 0 0 5px;
  opacity: 60%;
  font-size: 15px;
}

.company {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}

.speaker .social {
  margin-top: 27px;
}
.speaker .social a {
  display: inline-block;
}
.speaker .social img {
  display: block;
}

.btm {
  padding: 16px 20px 0;
  text-align: left;
}
.btm p:first-child {
  opacity: 0.6;
}
.btm p:last-child {
  margin-bottom: 5px;
  line-height: 1.6;
}

.videos-title {
  margin: 110px 0 0 75px;
  font-size: 75px;
  font-weight: 500;
  line-height: 1.3;
}

.videos {
  padding: 30px 75px 70px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.videos > div {
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.video {
  flex: 0 0 500px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fffbf9;
  text-align: left;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.videos .spacer {
  flex: 0 0 30px;
  height: 100%;
}

.video > div {
  height: 281px;
}

.video iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.video > p {
  margin: 25px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
}

.cta {
  margin-top: 73px;
  background-color: #e27152;
  overflow: hidden;
}

.cta .content-wrapper {
  height: 560px;
  position: relative;
  padding: 75px;
}

.cta h2 {
  color: #F4ECE8;
  font-size: 45px;
  font-weight: 500;
}

.cta form {
  max-width: 533px;
}

.cta input {
  margin-top: 18px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid #f4ece8;
  padding: 15px;
  font-size: 21px;
  width: 100%;
  background: transparent;
  outline: none;
  color: #f4ece8;
}

input:active {
  outline: none;
}

.email-octopus-form-row-hp {
  position: absolute;
  left: -5000px;
}

::placeholder {
  color: #f4ece8;
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder {
  color: #f4ece8;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: #f4ece8;
  opacity: 0.6;
}

.cta button {
  margin-top: 90px;
  cursor: pointer;
  background-color: #f4ece8;
  color: #31302f;
  padding: 17px 30px;
  font-size: 21px;
  font-weight: 500;
  border-radius: 15px;
  border: none;
}
.cta button:hover {
  background-color: #FFFBF9;
}

.cta .content-wrapper > img {
  position: absolute;
  bottom: -64px;
  right: -64px;
}

/* Thanks page */

.thanks {
  margin: 20px auto;
  position: relative;
  height: 629px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thanks > h1 {
  margin: 0 0 0 60px;
  font-size: 90px;
  color: #395c6b;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -3px;
}

.thanks > p {
  margin: 40px 0 0 60px;;
  color: #395c6b;
  font-size: 24px;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    padding: 15px;
  }
  .logo {
  }
  .logo img {
    height: 30px;
  }

  .nav-right {
    display: none;
  }
  .nav-right-mobile {
    display: block;
  }
  .nav-right-mobile a {
    font-size: 16px;
  }
  .hero {
    margin-top: 0;
    padding: 75px 15px 0;
    height: auto;
    overflow: hidden;
  }
  .hero > img {
    right: -30px;
    width: 70%;
  }
  .hero-left {
  }
  .hero-left > h3 {
    margin: 0;
    font-size: 28px;
    letter-spacing: -1px;
  }
  .hero-left > h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: -2px;
  }
  .hero-left > p {
    margin: 20px 0 30px;
    font-size: 20px;
  }
  .hero-left > a {
    margin: 0;
  }
  .countdown {
    margin: 75px 0 0;
    padding: 0 15px;
  }
  .boxes {
    gap: 7px;
  }
  .box {
    height: 100px;
  }
  #days, #hours, #min, #secs {
    font-size: 18px;
  }
  .box > span {
    font-size: 12px;
  }

  .prepare {
    margin: 75px 15px 0;
    width: auto;
  }
  .prepare > h2 {
    font-size: 36px;
  }
  .prepare > p {
    font-size: 18px;
  }

  .speaker-title {
    margin: 75px auto 0;
    font-size: 45px;
    text-align: center;
  }
  .speakers {
    display: block;
    margin: 60px 15px 0 45px;
  }
  .speaker {
    margin: 0 0 60px;
    width: auto;
    padding: 10px;
  }
  .speaker-left {
    margin-left: 80px;
  }
  .name {
    margin: 0 0 4px;
    font-size: 1.2rem;
  }
  .role {
    margin: 0 0 2px;
    font-size: 0.9rem;
  }
  .company {
    margin: 0;
    font-size: 0.9rem;
  }
  .speaker .social {
    margin-top: 15px;
  }
  .btm {
    padding: 10px 10px 0;
  }
  .pic {
    width: 110px;
    left: -2rem;
    top: -1.5rem;
  }

  .videos-title {
    margin: 75px 0 0;
    text-align: center;
    font-size: 45px;
  }
  .videos {
    padding: 0 15px;
  }
  .videos > div {
    padding: 0;
    display: block;
  }
  .video {
    margin-top: 30px;
  }
  .videos .spacer {
    display: none;
  }

  .cta .content-wrapper {
    padding: 15px 15px 30px;
    height: auto;
  }
  .cta h2 {
    margin-bottom: 10px;
  }
  .cta input {
    font-size: 18px;
  }
  .cta button {
    margin-top: 30px;
    width: 100%;
  }
  .cta .content-wrapper > img {
    width: 80%;
  }

  /* Thanks page */

  .thanks {
    margin-top: 0;
    padding: 75px 15px 0;
    height: auto;
    overflow: hidden;
  }
  .thanks > h1 {
    margin: 0;
    font-size: 48px;
    letter-spacing: -2px;
  }
  .thanks > p {
    margin: 40px 0 30px;
    font-size: 20px;
  }
}
