* {
  font-family: "IBM Plex Mono", monospace;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("/assets/bg.svg");
}

#menu,
#menu-btm {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  width: 100px;
}

.nav-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.reg-btn {
  background-color: #e27152;
  border-radius: 12px;
  padding: 10px 15px;
  border: none;
  color: white;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  gap: 5rem;
}

.hero-left > h3 {
  color: #e27152;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1rem;
}

.hero-left > h1 {
  font-size: 5rem;
  color: #395c6b;
  line-height: 3rem;
}

.hero-left > p {
  color: #395c6b;
  font-size: 1.3rem;
  margin: 40px 0;
}

.hero-left > hr {
  border: 2px solid #395c6b;
  width: 100%;
}

.hero-left > a {
  padding: 1rem 3rem;
  font-size: 1.2rem;
}

.countdown {
  width: 85%;
  margin: 130px auto;
  text-align: center;
}
.countdown > p {
  font-size: 1.2rem;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 2rem;
}

.box {
  background-color: #fffbf9;
  border-radius: 12px;
  border: none;
  color: #395c6b;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 3rem 4rem;
}

.box > #days,
#hours,
#min,
#secs {
  font-size: 3rem;
  font-weight: bold;
}

.box > span {
  font-size: 1rem;
  display: block;
  font-weight: normal;
}

.prepare {
  width: 85%;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 50px;
}

.prepare > h2 {
  color: #e27152;
  font-size: 2rem;
  font-weight: normal;
}

.prepare > p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.speaker-title {
  width: 85%;
  padding: 3rem 0;
  margin: 0 auto;
  font-size: 3rem;
  color: #395c6b;
}

.speakers {
  width: 85%;
  margin: 30px auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.speaker {
  background-color: #fffbf9;
  border-radius: 20px;
  position: relative;
  width: 75%;
  margin: 2rem auto;
}

.pic {
  position: absolute;
  top: -3rem;
  left: -2rem;
  width: 30%;
  border-radius: 20px;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.speaker-left {
  text-align: left;
  margin-left: 28%;
}

.name {
  font-size: 1.4rem;
  line-height: 1rem;
  color: #31302f;
  margin: 10px 0 5px 0;
}

.role {
  opacity: 60%;
  margin: 0;
}

.company {
  color: #31302f;
  margin: 0;
  margin-bottom: 10px;
}

.btm {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.videos {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: scroll;
}

.video {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fffbf9;
  text-align: left;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

video {
  border-radius: 20px 20px 0 0;
  width: 300px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.video > p {
  margin-left: 10px;
}

.cta {
  background-color: #e27152;
  width: 100% !important;
  margin-top: 2rem;
}

.cta-box {
  width: 85%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.cta-left > h2 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

input {
  border-radius: 12px;
  border: 2px solid #f4ece8;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  background: transparent;
  outline: none;
  color: #f4ece8;
}

input:active {
  outline: none;
}

::placeholder {
  color: #f4ece8;
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder {
  color: #f4ece8;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: #f4ece8;
  opacity: 0.6;
}

.cta-left > .reg-btn {
  background-color: #f4ece8;
  color: #31302f;
  padding: 1.1rem 1.5rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    width: 100px;
  }

  .nav-right {
    display: none;
  }
  #menu {
    display: block !important;
  }
  #menu-btm {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 15px;
  }
  .hero {
    flex-direction: column;
    width: 90%;
  }
  .hero > img {
    width: 100%;
  }
  .hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: center;
  }
  .hero-left > h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero-left > h3 {
    font-size: 2rem;
    line-height: 1rem;
    margin: 0;
    text-align: left;
  }
  .hero-left > a {
    margin: 0;
  }
  .countdown {
    width: 100%;
  }
  .boxes {
    flex-direction: column;
    gap: 1rem;
  }
  .speakers {
    width: 100%;
    margin: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
  }
  .name {
    font-size: 1.2rem;
    line-height: 0.8rem;
    color: #31302f;
    margin: 0;
  }
  .role {
    margin: 0;
  }
  .company {
    margin: 0;
  }
  .btm {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
  }
  .speaker-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 10px;
  }
  .pic {
    left: -2rem;
    top: -1.5rem;
  }
}
